.layout {
  width: 90.78%;
  min-width: 280px;
  max-width: 1612px;
  height: 100%;
  margin: 0 auto;
} 

/*box-shadow: inset 0px 0px 114px 3px green;*/

.id_field {
  position: absolute;
  left: 46.5%;
width: 76px;
  z-index: 2;
  top: 109px;
text-align: center;
  background: #987E5B;
  box-shadow: 0 0 18px 2px #987E5B;
  border-radius: 20px;
  border: 1px solid #000;
  outline-color: #987E5B;
  padding: 7px 9px 7px 9px;
  color: #cfcfcf;
  transition: box-shadow 0.5s, background-color 0.5s;
}

/*slider-form*/

[name="slideChooseForm"] {
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

.form__label-block  {
display: flex;
flex-direction: column;
align-items: center;
}

.form__label-block-last {
margin-bottom: 67px;
}

.form__label-block  input {
  width: 190px;
padding: 7px 7px 7px 7px;
border-radius: 20px;
box-shadow: 0 0 5px 0px #34495e;
border: none;
text-align: center;
outline-color: #a88a62;
font: 16px "Circe-Light", Helvetica, Times, sans;
}

.form__label-block_id {
margin-left: auto;
margin-right: 60px;
margin-top: 22px;
}

.form__label-block_fio input {
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
}

.form__label-block_fio input,
.form__label-block_address input {
width: 100%;
}

.form__label-block_fio {
width: 300px;
}

.form__label-block_address {
width: 300px;

}

.form__label-block_date_tel {
display: block;
}
.form__label-block_date_tel input,
.form__label-block_date_tel label  {
margin-right: 10px;
}

/*slider*/
.slider {
  position: relative;
  
  width: 100vw;
  height: 450px;
  
  overflow: hidden;
  color: #252525;
}

.slider__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  
  height: 450px;
  margin: 0;
  padding: 0;
}

.slider__slide {
  width: 100vw;
  height: 450px;
  margin: 0;
  padding: 0;
  float: left;
  
  list-style: none;
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
  background-position: center center;
}

.slider_blackout::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.4);
} 

.slider__slide_1,
.slider__slide_2,
.slider__slide_3 {
  background: #252525;
}

.slider__layout-controls {
  position: relative;
}

.slider__controls {
  position: absolute;
  right: 50px;
  bottom: 30px;
  z-index: 1;
  
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.slider__arrow {
  cursor: pointer;
  font-size: 32px;
  color: #000;
}

.slider__arrow:hover {
  color: #a88a62;
}

.slider__arrow:active {
  color: #252525;
}

.slider__layout {
  position: relative;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s;
}

/*.slider__layout-insert-effect {
  box-shadow: inset 0px 0px 65px 2px green;
}

.id_field-insert-effect {
  background-color: darkgreen;
  box-shadow: 0 0 18px 2px darkgreen;
}*/

.slider__info {
  width: 100%;
  height: 100%;
}

.slider__title {
  width: 820px;
  margin-bottom: 15px;
  
  text-transform: uppercase;
  font: 40px "Circe-ExtraBold";
  line-height: 50px;
}

.slider__btn {
  display: inline-block;
  padding: 11px 21px;
  margin-top: 25px;
  
  text-transform: uppercase;
  color: inherit;
  background-color: #a88a62;
  border: 1px solid #a88a62;
  font: 14px "Circe-Regular";
  line-height: 19px;
}

.slider__btn:hover {
  background-color: transparent;
}

.slider__btn:active {
  background-color: transparent;
  border-color: #000;
}