/*Инициализация шрифтов*/

@font-face {
	font-family: "RalewayRegular";
	src: url("../fonts/RalewayRegular.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayMedium";
	src: url("../fonts/RalewayMedium.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewaySemiBold";
	src: url("../fonts/RalewaySemiBold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayBold";
	src: url("../fonts/RalewayBold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansSemiBold";
	src: url("../fonts/OpenSansSemiBold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

/*Видео и эффект затемнения*/

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -9999; 
  
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

div.blackout {
	position: fixed;
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, 0.6);
	z-index: -3;
}

/*Блок и форма входа*/

.entry-block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	width: 500px;
	height: 300px;
	padding: 40px 30px 30px 30px;
	
	text-align: center;
	color: #fff;
	background-color: #000;
	border: 1px solid #fff;
	border-radius: 10px;
	box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
	opacity: 0.6;
	transition: border-radius 0.15s, opacity 0.15s, background-color 1.9s;
}

.entry-block-hover:hover {
	border-radius: 50%;
	opacity: 1;
}

.entry-block__title {
	margin-bottom: 5px;
	
	font-size: 34px;
}

.entry-block__desc {
	margin-bottom: 15px;
	
	font-size: 18px;
}

.entry-block__line-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.entry-block label {
	width: 11%;
}

.entry-block input {
  
	height: 20px;
	margin-left: 20px;
	padding-left: 7px;

	border-radius: 7px;
	outline: none;
}

.entry-block input[type="submit"] {
	height: 30px;
	width: 100px;
	
	font-size: 15px;
  cursor: pointer;
	border: none;
	box-shadow: inset 0 -30px 30px -30px #34495e;
	background-color: #f6f6f6;
}

.entry-block input[type="submit"]:hover {
	background-color: #e1e1e1;
}

.entry-block__denied-block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	display: none;
	width: 500px;
	height: 300px;
	
	color: #000;
	background-color: #fff;
}

.entry-block-change {
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #000;
}
